<div class="jumbotron">
  <h1>Six Degrees</h1>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .mySlides {display:none;}
  </style>
  <body>

  <div class="w3-content w3-section" style="max-width:500px">
    <img class="mySlides" src="../img/smile.jpg" style="width:100%">
    <img class="mySlides" src="../img/hair.jpg" style="width:100%">
    <img class="mySlides" src="../img/hi.jpg" style="width:100%">
    <img class="mySlides" src="../img/head.jpg" style="width:100%">
    <img class="mySlides" src="../img/nic.jpeg" style="width:100%">
  </div>

  <script>
  var myIndex = 0;
  carousel();

  function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  </script>
</div>
<div class="container">

  <form action="/degrees" method="post">
    <div class="form-group">
      <select id='id' name='id' type='text' class="form-control">
        <% @actors.each() do |actor| %>
        <option value="<%= actor.id()%>"> <%= actor.name %></option>
        <% end %>
      </select>
      <select id='actor_id' name='actor_id' type='text' class="form-control">
        <% @actors.each() do |actor| %>
        <option value="<%= actor.id()%>"> <%= actor.name %></option>
        <% end %>
      </select>
    </div>
    <button class="btn btn-info" type="submit">See Degrees</button>
  </form>

  <h2>Current movies included in database:</h2>
  <h4>Click on a movie name to access their inventory:</h4>
  <% if @movies.any? %>
    <% @movies.each do |movie| %>
      <ul>
        <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a></li>
      </ul>
    <% end %>
  <% else %>
    <p>There are no movies in the database yet.</p>
  <%end%>

  <h4>Add movie to the database:</h4>
  <form action="/movies" method="post">
    <label for="new_movie">Add a Movie Name:</label>
    <input type="text" name="new_movie">

    <button class="btn btn-info" type="submit">Add Movie</button>
  </form>

  <h2>Current actors included in database:</h2>
  <h4>Click on a actor name to access their information:</h4>
  <% if @actors.any? %>
    <% @actors.each do |actor| %>
        <li><a href="/actors/<%= actor.id %>"><%= actor.name %> <%= actor.id %></a></li>
      </ul>
    <% end %>
  <% else %>
    <p>There are no actors in the database yet.</p>
  <%end%>

  <h4>Add actors to the database:</h4>

  <form action="/actors" method="post">
    <label for="actor_name">Add a Actor First Name:</label>
    <input type="text" name="actor_name">

    <button class="btn btn-info" type="submit">Add Actor</button>
  </form>
</div>
