<!-- <script>
 $( function() {
   var availableTags = [
    <% @actors.each do |actor| %>
      "<%= actor.name %>",
    <% end %>
   ];
   $( "#tags" ).autocomplete({
     source: availableTags
   });
 } );
 </script> -->


<div class="jumbotron">
  <h1>Six Degrees</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="slide">
        <img class="mySlides" src="../img/love_cage.gif">
        <img class="mySlides" src="../img/wink_cage.gif">
        <img class="mySlides" src="../img/prison_cage.gif">
        <img class="mySlides" src="../img/can_cage.gif">
        <img class="mySlides" src="../img/ello_cage.gif">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="slide2">
        <img class="mySlides" src="../img/liquor_cage.gif">
        <img class="mySlides" src="../img/roar_cage.gif">
        <img class="mySlides" src="../img/look_cage.gif">
        <img class="mySlides" src="../img/hand_cage.gif">
        <img class="mySlides" src="../img/fairy_cage.gif">
        <img class="mySlides" src="../img/rage_cage.gif">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="slide3">
        <img class="mySlides" src="../img/ok_cage.gif">
        <img class="mySlides" src="../img/60_cage.gif">
        <img class="mySlides" src="../img/hungry_cage.gif">
        <img class="mySlides" src="../img/sunglass_cage.gif">
        <img class="mySlides" src="../img/smile_cage.gif">
        <img class="mySlides" src="../img/jump_cage.gif">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="center">
        <h4>Choose two actors and see how they are connected:</h4>
      </div>
      <form action="/degrees" method="post">
        <div class="col-sm-5">
          <select id='id' name='id' type='text' class="form-control">
            <% @actors.each() do |actor| %>
            <option value="<%= actor.id()%>"> <%= actor.name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-sm-5">
          <select id='actor_id' name='actor_id' type='text' class="form-control">
            <% @actors.each() do |actor| %>
            <option value="<%= actor.id()%>"> <%= actor.name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info" type="submit">See Degrees</button>

        </div>
      </form>
    </div>


    <div class="col-sm-3">
      <footer>
        <h3>What is six degrees?</h3>
        <p>Six degrees of separation is the idea that all living things and everything else in the world are six or fewer steps away from each other so that a chain of "a friend of a friend" statements can be made to connect any two people in a maximum of six steps. It was originally set out by Frigyes Karinthy in 1929 and popularized in an eponymous 1990 play written by John Guare.
        </p>
        <hr>
        <div class ="center">
          <p>To view all movies or actors in the database, click below
          </p>
          <p><a href="/movies">Movies</a> | <a href="/actors">Actors</a></p>
        </div>
      </footer>
    </div>
  </div>





  </div>
  <!-- <h4>Add movie to the database:</h4>
  <form action="/movies" method="post">
  <label for="new_movie">Add a Movie Name:</label>
  <input type="text" name="new_movie">

  <button class="btn btn-info" type="submit">Add Movie</button>
</form> -->



<!--
  <h4>Add actors to the database:</h4>

  <form action="/actors" method="post">
    <label for="actor_name">Add a Actor First Name:</label>
    <input type="text" name="actor_name">

    <button class="btn btn-info" type="submit">Add Actor</button>
  </form>
